<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Shortened</title>
</head>
<body>
    <div class="container header">
        <ul class="header-top">
            <li><a href="/">Shortener</a></li>
            <li><a href="short.html">Shortened URLs</a></li>
        </ul>
    </div>

    <div class="container body">
        <div class="center-box">
            <ul class="links">
                <li>List Items go here</li>
            </ul>
        </div>
    </div>
    <div class="container footer">
        Created for Rust Programming CS-IS-4047 by Shivam Kedia.
    </div>
</body>
</html>